.tipo_deposito{
    background-color:forestgreen;
    color:white;
    border-radius: 5px;
    padding: 3px 10px;
}
.tipo_transf{
    color:white;
    background-color: orangered;
    border-radius: 5px;
    padding: 3px 10px;
}

table{
    font-size: 1.2em;  
}
.box{
    padding-bottom: 20px;
}